## Deliverable 3. Create a Travel Itinerary Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [11]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df = vacation_df.dropna()
vacation_df.info()
vacation_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 1 to 216
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              203 non-null    int64
 1   City                 203 non-null    object
 2   Country              203 non-null    object
 3   Max Temp             203 non-null    float64
 4   Current Description  203 non-null    object
 5   Lat                  203 non-null    float64
 6   Lng                  203 non-null    float64
 7   Hotel Name           203 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 14.3+ KB

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,4,Itacoatiara,BR,80.20,light rain,-3.1431,-58.4442,BBB Rooms Centro Itacoatiara AM
2,5,Georgetown,MY,83.95,scattered clouds,5.4112,100.3354,Cititel Penang
3,6,Caravelas,BR,83.07,broken clouds,-17.7125,-39.2481,Pousada dos Navegantes
4,11,Rikitea,PF,77.86,few clouds,-23.1203,-134.9692,People ThankYou
5,12,Bhavnagar,IN,87.44,clear sky,21.7667,72.1500,Hotel Mausam

In [12]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [13]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

#vacation_df 

vacation_start = vacation_df.loc[vacation_df["City"] == "Moron"] 
vacation_end = vacation_df.loc[vacation_df["City"] == "Moron"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Mercedes"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Necochea"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Mar Del Plata"]

In [23]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [25]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,  vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,588,Moron,AR,83.01,clear sky,-34.6534,-58.6198,Hotel Morón
1,211,Mercedes,AR,81.86,clear sky,-34.6515,-59.4307,Posada del Inti Centro
2,28,Necochea,AR,78.87,clear sky,-38.5473,-58.7368,dyd -mar Hotel
3,142,Mar Del Plata,AR,80.62,few clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
4,588,Moron,AR,83.01,clear sky,-34.6534,-58.6198,Hotel Morón

In [32]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [35]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))